name: Live Resume

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  NODE_VER: 22

jobs:
  build:
    permissions:
      contents: 'write'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Git User
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VER }}
          cache: "npm"

      - name: Dependencies
        shell: bash
        run: |-
          npm ci

      - name: Build
        env:
          BUILD_ENV: "liveResume"
        shell: bash
        run: |-
          rm -rf ./dist
          npm run build-locale:${{ env.BUILD_ENV }} --prod --aot

      - name: docs
        shell: bash
        run: |-
          rm -rf docs
          mkdir docs
          cp -r dist/liveResume/en/* docs/

      - name: Push
        shell: bash
        run: |-
          git add docs
          git commit -m "devops: Updating the docs folder"
          git push