name: Live Resume

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}
  TAG_PREFIX: "AutoRelease-"
  TAG_SUFFIX: ""
  TAG_PATTERN: "[0-9]+\\.[0-9]+\\.[0-9]+"
  NODE_VER: 22

jobs:
  build:
    permissions:
      contents: 'write'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Git User
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VER }}
          cache: "npm"

      - name: Dependencies
        shell: bash
        run: |-
          npm ci

      - name: Build
        env:
          BUILD_ENV: "liveResume"
        shell: bash
        run: |-
          rm -rf ./dist
          npm run build-locale:${{ env.BUILD_ENV }} --prod --aot

      - name: docs
        shell: bash
        run: |-
          rm -rf docs
          mkdir docs
          cp -r dist/liveResume/en/* docs/

      - name: Push
        shell: bash
        run: |-
          git add docs
          git commit -m "devops: Updating the docs folder"
          git push

      - name: Fetch Tags
        run: git fetch --tags

      - name: Get Latest Tag
        id: get_tag
        shell: bash
        run: |-
          export RELEASE_TAG="${{ env.TAG_PREFIX}}${{ env.TAG_PATTERN }}${{ env.TAG_SUFFIX }}"
          if git tag --sort=-v:refname | grep -E "^${RELEASE_TAG}$" ; then
            latest_tag=$(git tag --sort=-v:refname | grep -E "^${RELEASE_TAG}$" | head -n 1)
          else
            latest_tag="${{ env.TAG_PREFIX}}v1.0.0${{ env.TAG_SUFFIX }}"
          fi
          echo "latest_tag=${latest_tag}" >> ${GITHUB_OUTPUT}

      - name: Bump Patch Version
        id: bump_version
        shell: bash
        run: |-
          export latest_tag=${{ steps.get_tag.outputs.latest_tag }}
          IFS='.' read -r major minor patch <<<"${latest_tag#v}"
          new_tag="v$major.$minor.$((patch + 1))"
          echo "new_tag=${new_tag}${{ env.TAG_SUFFIX }}" >> ${GITHUB_OUTPUT}

      - name: Create Git Tags
        shell: bash
        run: |-
          git tag ${{ steps.bump_version.outputs.new_tag }}
          git push origin -f ${{ steps.bump_version.outputs.new_tag }}