name: Live Resume

on:
  push:
    branches:
      - "main"
      - "resume-patch"
    paths-ignore:
      - "docs/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  NODE_VER: 22

jobs:
  build:
    permissions:
      contents: 'read'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VER }}
          cache: "npm"

      - name: Dependencies
        shell: bash
        run: |-
          npm ci

      - name: Build
        env:
          BUILD_ENV: "liveResume"
        shell: bash
        run: |-
          rm -rf ./dist
          npm run build-locale:${{ env.BUILD_ENV }} --prod --aot

      - name: Publish
        env:
          BUILD_ENV: "liveResume"
        shell: bash
        run: |-
          rm -rf docs
          mkdir docs
          cp -r dist/liveResume/en/* docs/

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.DEVOPS_GITHUB_TOKEN }}
          commit-message: 'devops: Updating the live resume'
          title: 'Updating the live resume'
          committer: DevOps Bot <devops.bot@devops.com>
          author: DevOps Bot <devops.bot@devops.com>
          body: >
            This PR is auto-generated by
            [release pipeline](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
          base: main
          branch: cicd-live-resume-auto-generated
          delete-branch: true
          add-paths: docs/*
          labels: auto-generated

      - name: Wait for PR Approval
        shell: bash
        run: |-
          sleep 10

      - name: Merge Pull Request
        uses: pascalgn/automerge-action@v0.16.4
        env:
          PULL_REQUEST: "${{ steps.create_pr.outputs.pull-request-number }}"
          GITHUB_TOKEN: "${{ secrets.DEVOPS_GITHUB_TOKEN }}"
          MERGE_COMMIT_MESSAGE: "This PR is auto-merged by [release pipeline](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          MERGE_REQUIRED_APPROVALS: "0"
          MERGE_RETRIES: "10"
          MERGE_RETRY_SLEEP: "20000"
          MERGE_METHOD: "rebase"
          MERGE_LABELS: "auto-generated"
          MERGE_REMOVE_LABELS: "auto-generated"
          UPDATE_LABELS: "auto-generated"
          UPDATE_METHOD: "merge"
          UPDATE_RETRIES: "6"
          UPDATE_RETRY_SLEEP: "20000"